* {
   font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
   font-size: 15px;
   font-weight: bold;
}

#window {
   border: 2px solid #7f849c;
   background-color: #1e1e2e;
   border-radius: 12px;
}

#outer-box {
   margin: 10px;
   border-radius: 12px;
   background-color: #1e1e2e;
}

#input {
   margin: 5px;
   padding: 5px;
   border: none;
   border-radius: 8px;
   background-color: #313244;
   color: #a6adc8;
}

#scroll {
   margin: 5px;
   background-color: transparent;
}

#inner-box {
   margin: 5px;
}

#entry {
   padding: 8px;
   border-radius: 8px;
   background-color: transparent;
   color: #a6adc8;
}

#entry:selected {
   background-color: #585b70;
}

#img {
   margin-right: 6px;
   border-radius: 4px;
}

#expander-box {
   margin-left: 12px;
   background-color: #585b70;
   color: #a6adc8;
}
